<header>
  <h1>My First Music Streaming Application</h1>
</header>
    <h2>Download/Delete Songs</h2>
    <table>
    <% @songs.each do |song| %>
        <tr>
            <td><%= link_to song.name, song %></td>
            <td><%= link_to "HTML5 Audio", download_url_for(song.original_filename), :class => "html5" %></td>
            <td><%= link_to "Download", download_url_for(song.original_filename) %></td>
            <td><%= link_to "Torrent", torrent_url_for(song.original_filename) %></td>
            <td><%= link_to 'Delete', song, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
    <% end %>
    </table>
<div class="clear"></div>
<%= link_to 'New Song', new_song_path %>
