<h2>Sign in</h2>
<div class="well" style="padding: 14px 19px;">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id='label' text-align:'center' >
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
 </br>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  </br>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div float:'right'><%= f.submit "Sign in", :class => 'btn info' %></div>
<% end %>
</div>
<%= render :partial => "devise/shared/links" %>
</div>
